@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Mitr:wght@300;400;500&display=swap');

:root {
    /* Colors */
    --purple: #b0ade9;
    --green: #b7c7a7;
    --orange: #fd6f1f;
    --gray: #454545;
    --light-gray: #808080;
    --light-background: #f6f8fc;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px; 
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
    border-radius: 8px;
  }

 /* Header */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
    align-items: center;
    padding: 0 60px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__title a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.25rem;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
}

.header__title a img {
    height: 25px;
 }

 
.navbar{
    display: flex;
}

.navbar i {
    display: none;
}

#toggle-menu {
    display: none;
}

.mobile {
    display: none;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.navbar__list--hover {
    position: relative;
}


.button{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 40px;
}



.button-black{
    text-decoration: none;
    color: white;
    background-color: black;
}


/* Main */

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

/* Hero  */

.hero {
    width: 80%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.hero__left--title {
    font-size: 4rem;
    
}

.hero__title--highlight {
    padding: 0 5px;
    background: linear-gradient(to bottom, transparent 50%, var(--purple) 50% );
}

.hero__left--paragraph {
    line-height: 25px;
    font-size: 1.125rem;
    max-width: 300px;
}

.hero__left--start {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-explore:hover {
    color: var(--light-gray);
}

.hero__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    justify-content: flex-start;
}

.left img:nth-child(1) {
    width: 280px;
}

.left img:nth-child(2) {
    width: 290px;
}

.left img:nth-child(3) {
    width: 230px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.right img:nth-child(1) {
    width: 250px;
}

.right img:nth-child(2) {
    width: 290px;
}


.sources {
    max-width: 1400;
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.sources img { 
    width: 100px;
}

/* Beneficios */

.about-us {
    background-color: var(--light-background);
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
}

h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.6rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    max-width: 1400px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    width: 300px;
    height: 350px;
    padding: 30px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.card p {
    font-size: 1.125rem;
}

.card1 .material-icons {
    background-color: var(--green);
    color: #5e9329;
}

.card2 .material-icons{
    color: #625cdf;
    background-color: var(--purple)
}

.card3 .material-icons{
    color: var(--orange);
    background-color: #f3bb9a;
}

.benefits{
    opacity: 70%;
    font-size: 2.1875rem;
    border-radius: 50%;
    padding: 25px;
}

/* Explora */

.explore {
    max-width: 1400px;
    margin-top: 100px;
    padding: 60px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore__categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore__categories--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.explore__categories--list li:nth-child(1) a {
    border-bottom: 2px solid var(--green);
    color: var(--green);
}

.explore__categories--list li a:hover,
.view-more:hover {
    color: var(--light-gray);
}

.view-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more a span {
    font-size: 1.25rem;
    padding: 0;
}

.explore__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
}

.explore__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 250px;
    height: 340px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.explore__card h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.podcast-portada img{
    width: 100%;
    border-radius: 10px;
}

.podcast-info {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-like{
    display: flex;
    gap: 10px;
}

.liked,
.saved {
    display: none;
}

.liked {
    color: var(--orange);
}

.like-section:hover .liked {
    display: block;
    cursor: pointer;
}

.like-section:hover .like-icon {
    display: none;
}


.save-section:hover .saved {
    display: block;
    cursor: pointer;
}

.save-section:hover .save-icon {
    display: none;
}

.page-number {
    display: flex;
    max-width: 250px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.page-number a:hover {
    color: var(--light-gray);
}

.actual-page {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.left-arrow {
    color: var(--light-gray);
    opacity: 50%;
}

.right-arrow {
    color: var(--green);
}

.right-arrow:hover {
    color: var(--light-gray);
}

/* Pricing */

.prices {
    padding: 60px 0;
    width: 100%;
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices__cards {
    max-width: 1400px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.price-card {
    width: 300px;
    height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.plan-title {
    font-size: 1.875rem;
    font-weight: 100;
    text-transform: uppercase;
}

.plan-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan-price p:nth-child(1) {
    font-size: 3.75rem;
    font-weight: 300;
}

.beneficios {
    padding: 10px;
}

.beneficios p {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.beneficios p span {
    font-size: 1.0625rem;
    font-weight: 500;
}

.plan-button {
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}


.price1 .plan-button{
    background-color: var(--green);
}

.price1 .beneficios p span {
    color: var(--green);
}

.price2 .plan-button{
    background-color: var(--purple);
}

.price2 .beneficios p span {
    color: var(--purple);
}

.price3 .plan-button{
    background-color: var(--orange);
}

.price3 .beneficios p span {
    color: var(--orange);
}



/* Contact */

.contact {
    width: 50%;
    max-width: 1400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left,
.contact-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 20px;
}

.contact-left{
    align-items: flex-start;  
}

.contact-title{
    margin-bottom: 0;
}

.contact-info {
    width: 200px;
}

.contact-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact-form input{
    width: 100%;
    height: 35px;
    padding-left: 5px;
}

textarea{
    height: 60px;
    padding: 5px;
}

.submit-button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: var(--purple);
    text-transform: uppercase;
    font-weight: 600;
}


/* Footer */
footer {
    padding: 40px 0;
    width: 100%;
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-top {
    width: 80%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-left a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.25rem;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
}

.footer-left a img {
    width: 50px;
}

.footer-redes {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-bottom {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-bottom p {
    font-size: 0.875rem;
    color: var(--light-gray);
    text-align: center;
}